<!DOCTYPE HTML>
<html>

<head>
	<title>Name Card Project</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="static/assets/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">

	<div id="wrapper">

		<nav id="nav">
			<a href="#" class="icon solid fa-home"><span>Home</span></a>
			<a href="#contact" class="icon solid fa-envelope"><span>Contact</span></a>
			<a href="https://twitter.com/Burakcode" class="icon brands fa-twitter"><span>Twitter</span></a>
		</nav>

		<div id="main">

			<article id="home" class="panel intro">
				<header>
					<h1>Lütfi Burak ATMACA</h1>
					<p>Desktop App and Web Developer</p>
				</header>
				<a href="#work" class="jumplink pic">
					<img src="static/images/profilepicture.jpg" alt="" />
				</a>
			</article>
			
			<article id="contact" class="panel">
				<header>
					<h2>Contact Me</h2>
				</header>
				<form action="#" method="post">
					<div>
						<div class="row">
							<div class="col-6 col-12-medium">
								<input type="text" name="name" placeholder="Name" />
							</div>
							<div class="col-6 col-12-medium">
								<input type="text" name="email" placeholder="Email" />
							</div>
							<div class="col-12">
								<input type="text" name="subject" placeholder="Subject" />
							</div>
							<div class="col-12">
								<textarea name="message" placeholder="Message" rows="6"></textarea>
							</div>
							<div class="col-12">
								<input type="submit" value="Send Message" />
							</div>
						</div>
					</div>
				</form>
			</article>

		</div>

		<div id="footer">
			<ul class="copyright">
				<li>&copy; Burakcode</li>
			</ul>
		</div>

	</div>

	<script src="static/assets/js/jquery.min.js"></script>
	<script src="static/assets/js/browser.min.js"></script>
	<script src="static/assets/js/breakpoints.min.js"></script>
	<script src="static/assets/js/util.js"></script>
	<script src="static/assets/js/main.js"></script>

</body>

</html>