<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
</head>
<body>
    <h1>Hello World</h1>
    <h2>{{ 5 * 6 }}</h2>
    <h3>Random Number {{ num }}</h3>
    <a href="{{ url_for('blog', num=3) }}">Go To Blog</a>
</body>
<footer>
    <p>Copyright {{ year }}. Built by Burakcode at the BTvHŞM</p>
</footer>
</html>