{% include "header.html" %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('static/assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Burak's Blog</h1>
                            <span class="subheading">This blog website gets blog posts from the npoint API.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    {% for blog_post in posts: %}
                    <div class="post-preview">
                        <a href="{{ url_for('post', index=blog_post['id'])}}">
                            <h2 class="post-title">{{ blog_post["title"]}}</h2>
                            <h3 class="post-subtitle">{{ blog_post["subtitle"]}}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">API</a>
                            on December 24, 2021
                        </p>
                    </div>
                    <hr class="my-4" />
                    {% endfor %}
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                </div>
            </div>
        </div>
        {% include "footer.html" %}
